.mydiv{
    background-color: antiquewhite;
    border-color: black;
    border-width: 5px;
    border-style:double;
    border-radius: 8%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    

}
h1{
    padding: 30px;
}
.box{
    height:100px;
    width: 100px;
    background-color: green;
    color: white;
    padding: 20px,50px;
}


/*
box size is given padding not apply

*/