*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(white,tomato);

}
#counter{
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px black;
    border-radius: 20px;
    font-size: 48px;
}
button{
    height: 50px;
    width: 20vw;
    border-radius: 20px;
    color: white;
    background-color: black;
}
#count{
    display: flex;
    justify-content: center;
    align-items: center;
}