
body{
    font-family: "Kanit", sans-serif;
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.wwxK07x0Umfnh0l-nrjxjgHaDg&pid=Api&P=0&h=180');
    background-repeat: no-repeat;
    
    background-size:cover;



    color:black;
    
    

}