*{
    box-sizing: border-box;
    margin: 0px;
}
.box{
    background-color: cyan;
    width: 80px;
    height: 50px;
    color: black;
    font-size: 20px;
    margin: 10px;
        
}
.box1{
    position: relative;
    left: 200px;
    top: 100px;
    top: 0px;
    }
    
/*
.box3{
    position: relative;
    left: 200px;
    top: 0px;
}*/
.box2{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
/*.box3{
    position: sticky;
    top: 0px;
}
    */
.box3{
    position: absolute;
    background-color: blue;
    top: 0px;
}
