*{
    margin: 0;
    padding: 0;
    }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    color: white;
    background-color: black;
    border-radius: 5px;
    }